Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
.vs/
.DS_Store
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.opendb.meta
*.VC.db.meta
*.suo
*.tmp
*.bak
*.swp
*.lock
*.log
*.vsconfig
npm-debug.log
.yarn-integrity
node_modules/

*.meta
